[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
nltk = "*"
numpy = "*"
"mecab-python3" = "*"
jieba = "*"
nagisa = "*"

[dev-packages]

[requires]
python_version = "3.6"
